.menu-wrapper {
	float: left;
}

.mr-40 {
	margin-left: 20px
}

.mr-40 {
	text-align: center;
}

.header-btns a i {
	vertical-align: bottom;
}

.header-area .menu-wrapper .main-menu ul li a i {
	font-size: 50px
}

.header-area {
/* 	box-shadow: 0 2px 4px 0 hsla(0, 0%, 80.8%, .5); */
	min-height: unset;
	background-color: white;
}

.btn {
	background: #00dbd5;
}

.btn::before {
	background: #009994;
}

.category-img {
	margin-top: 3%;
}
div img{
cursor: pointer;
}
#searchBtn{
cursor: pointer;
}
div.menu-wrapper .d-flex .align-items-center .justify-content-between{
margin-right: 10%;
}
.hero-bg1{
text-align: center;
}