<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LectureDetailMapper">
	<select id="selectAllLectures" resultType="LectureDetail">
		SELECT *
		FROM lecture
		lec
		JOIN lecture_detail lec_d On (lec.lecture_id = lec_d.lecture_id)
	</select>
	<insert id="insert" parameterType="Lecture">
		INSERT INTO
		lecture(LECTURE_ID, LECTURE_CATEGORY_ID, LECTURE_TUTOR_ID,
		LECTURE_IMG, LECTURE_TITLE, LECTURE_PRICE, LECTURE_STATE,
		LECTURE_START_DT, LECTURE_END_DT, LECTURE_MAX, LECTURE_MIN)
		VALUES(lecture_seq.nextVal, #{lectureCategory.lecture_category_id},
		#{tutor.member.member_id}, #{lecture_img}, #{lecture_title},
		#{lecture_price}, #{lecture_state}, #{lecture_start_dt},
		#{lecture_end_dt},
		#{lecture_max}, #{lecture_min})
	</insert>
	<insert id="insertDetail" parameterType="LectureDetail">
		INSERT
		INTO
		lecture_detail(LECTURE_ID, LECTURE_CATEGORY_ID, LECTURE_INTRODUCE,
		LECTURE_CURRICULUM, LECTURE_PREPARED, LECTURE_CAUTION,
		LECTURE_FILENAME, LECTURE_LOCATION)
		VALUES(#{lecture.lecture_id},
		#{lecture.lectureCategory.lecture_category_id}, #{lecture_introduce},
		#{lecture_curriculum}, #{lecture_prepared}, #{lecture_caution},
		#{lecture_fileName}, #{lecture_location})
	</insert>
	<update id="update" parameterType="Lecture">
		UPDATE lecture
		SET
		LECTURE_CATEGORY_ID = #{lectureCategory.lecture_category_id}
		,
		LECTURE_IMG = #{lecture_img}, LECTURE_TITLE = #{lecture_title},
		LECTURE_PRICE = #{lecture_price}
		, LECTURE_START_DT =
		#{lecture_start_dt}, LECTURE_END_DT = #{lecture_end_dt},
		LECTURE_MAX =
		#{lecture_max}, LECTURE_MIN = #{lecture_min}
		WHERE LECTURE_ID =
		#{lecture_id}
	</update>
	<update id="updateDetail" parameterType="LectureDetail">
		UPDATE lecture_detail
		SET LECTURE_INTRODUCE = #{lecture_introduce}, LECTURE_CURRICULUM =
		#{lecture_curriculum}, LECTURE_PREPARED
		= #{lecture_prepared},
		LECTURE_CAUTION = #{lecture_caution}, LECTURE_FILENAME =
		#{lecture_fileName},
		LECTURE_LOCATION = #{lecture_location}
		WHERE
		LECTURE_ID = #{lecture.lecture_id}
	</update>
</mapper>