<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<select id="memberLogin" resultType="com.shallwe.vo.Member">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{MEMBER_ID}

	</select>

	 <select id="IdCheck" parameterType="java.util.HashMap" resultType="String">

		SELECT MEMBER_ID
		FROM MEMBER
		WHERE MEMBER_NAME = #{member_name} AND MEMBER_EMAIL = #{member_email}


	</select>

	<resultMap type="MemberInfoBean" id="MemberInfoMap">
		<id column="member_id" property="memberId"/>
		<result column="member_pwd" property="memberPwd"/>
		<result column="member_name" property="memberName"/>
		<result column="member_email" property="memberEmail"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_sex" property="memberSex"/>
		<result column="tutor_yn" property="tutorYN"/>
	<association property="favorite1" javaType="LectureCategory" autoMapping="true">
		<id column="fav1id" property="lecture_category_id"/> 
		<result column="fav1name" property="lecture_category_name"/>
	</association>		
	<association property="favorite2" javaType="LectureCategory" autoMapping="true">
		<id column="fav2Id" property="lecture_category_id"/> 
		<result column="fav2Name" property="lecture_category_name"/>
	</association>		
	<association property="favorite3" javaType="LectureCategory" autoMapping="true">
		<id column="fav3Id" property="lecture_category_id"/> 
		<result column="fav3Name" property="lecture_category_name"/>
	</association>		
	</resultMap>
	<select id="selectById" parameterType="String" resultMap="MemberInfoMap">
	SELECT m.member_id , m.member_pwd, m.member_name, m.member_sex, m.member_email, m.member_phone,
			lc1.category_id fav1Id, lc1.category_name fav1Name
            ,lc2.category_id fav2Id, lc2.category_name fav2Name
            ,lc3.category_id fav3Id, lc3.category_name fav3Name
	FROM member m LEFT OUTER
	JOIN lecture_category lc1 ON(m.member_favorite1=lc1.category_id)LEFT OUTER
    JOIN lecture_category lc2 ON(m.member_favorite2=lc2.category_id)LEFT OUTER
    JOIN lecture_category lc3 ON(m.member_favorite3=lc3.category_id)
	where member_id= #{memberId}<!-- #{memberId} -->
	</select>
	
	<update id="updatePassword" parameterType="Map">
	UPDATE member set member_pwd = #{memberPwd} where member_id = #{memberId}
	</update>
	
<!-- 	<insert id="joinMember" parameterType= -->
</mapper>
