<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberLectureHistoryMapper">
	<resultMap type="MemberLectureHistory" id="MLHResultMap"
		autoMapping="true">
		<id property="member.member_id" column="member_id" />
		<id property="lecture.lecture_id" column="lecture_id" />
		<id property="lecture.lectureCategory.lecture_category_id"
			column="lecture_category_id" />
		<association property="member" javaType="Member"
			autoMapping="true">
			<id property="member_id" column="member_id" />
		</association>
		<association property="lecture" javaType="Lecture"
			autoMapping="true">
			<id property="lecture_id" column="lecture_id" />
			<association property="lectureCategory"
				javaType="LectureCategory" autoMapping="true">
				<id property="lecture_category_id" column="lecture_category_id" />
			</association>
		</association>
	</resultMap>
	<select id="memberMyClassList" resultMap="MLHResultMap">
		SELECT
		mlh.lecture_id,
		le.lecture_img, le.lecture_title,
		le.lecture_price,
		le.lecture_state
		,
		le.lecture_start_dt,
		le.lecture_end_dt, le.lecture_max,
		le.lecture_current
		,
		tu.tutor_nickname
		FROM member_lecture_history mlh
		JOIN lecture le ON
		(mlh.lecture_id = le.lecture_id AND
		mlh.LECTURE_CATEGORY_ID =
		le.LECTURE_CATEGORY_ID)
		JOIN tutor tu ON
		(le.LECTURE_CATEGORY_ID =
		tu.TUTOR_CATEGORY_ID)
		WHERE mlh.MEMBER_ID =
		#{member.member_id}
	</select>
</mapper>