<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<select id="selectById" parameterType="String" resultType="MemberInfoBean">
	select select member_id, member_name, member_sex, member_email, member_phone, member_favorite1, member_favorite2, member_favorite3, tutor_yn
	from member
	where member_id='member1'; <!-- #{id} -->
	</select>
	
	<select id="memberLogin" resultType="com.shallwe.vo.Member">
		SELECT * FROM MEMBER 
		WHERE MEMBER_ID = #{MEMBER_ID}
	</select>
	
	 <select id="IdCheck" parameterType="java.util.HashMap" resultType="String">
	
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE MEMBER_NAME = #{member_name} AND MEMBER_EMAIL = #{member_email}
			
	</select>
	
	
	
</mapper>