<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberLectureHistoryMapper">
	<resultMap type="MemberLectureHistory" id="MLHResultMap"
		autoMapping="true">
		<id property="member.member_id" column="member_id" />
		<id property="lecture.lecture_id" column="lecture_id" />
		<id property="lecture.lectureCategory.lecture_category_id"
			column="lecture_category_id" />
		<association property="member" javaType="Member"
			autoMapping="true">
			<id property="member_id" column="member_id" />
		</association>
		<association property="lecture" javaType="Lecture"
			autoMapping="true">
			<id property="lecture_id" column="lecture_id" />
			<association property="lectureCategory"
				javaType="LectureCategory" autoMapping="true">
				<id property="lecture_category_id" column="lecture_category_id" />
			</association>
			<association property="tutor" javaType="Tutor"
				autoMapping="true">
			</association>
		</association>
	</resultMap>
	<select id="memberMyClassList" resultMap="MLHResultMap">
		SELECT
		mlh.lecture_id,
		mlh.payment_dt, mlh.cancel_dt,
		le.lecture_img, le.lecture_title,
		le.lecture_price,
		le.lecture_state
		,
		le.lecture_start_dt,
		le.lecture_end_dt, le.lecture_max,
		le.lecture_current
		,
		tu.tutor_nickname
		FROM member_lecture_history mlh
		JOIN lecture le ON
		(mlh.lecture_id = le.lecture_id AND
		mlh.LECTURE_CATEGORY_ID =
		le.LECTURE_CATEGORY_ID)
		JOIN tutor tu ON
		(le.LECTURE_CATEGORY_ID =
		tu.TUTOR_CATEGORY_ID)
		WHERE mlh.MEMBER_ID =
		#{member.member_id}
	</select>

	<!-- admin(jun6) : 특정 강의를 수강하고 있는 member 목록 조회 -->
	<select id="selectMemberHistoryByLectureId"
		parameterType="String" resultMap="MLHResultMap">
		SELECT mem.member_id,
		mem.member_name, his.payment_dt, his.lecture_category_id,
		his.cancel_dt, lec.lecture_min, lec.lecture_max, lec.lecture_current
		FROM member mem
		JOIN member_lecture_history his ON(mem.member_id = his.member_id)
		JOIN lecture lec ON(his.lecture_id = lec.lecture_id)
		WHERE his.lecture_id =
		#{lecture_id}
		AND his.cancel_dt is null
		ORDER BY his.payment_dt
	</select>
	
	<!-- admin(jun6) : 특정 회원의 강의 목록 조회 -->
	<select id="selectHistroyByMemberId" parameterType="String" resultMap="MLHResultMap">
		SELECT his.*, mem.*, lec.*, lc.category_name "lecture_category_name"
		FROM member_lecture_history his
			JOIN member mem ON (his.member_id = mem.member_id)
			JOIN lecture lec ON (his.lecture_id = lec.lecture_id)
			JOIN lecture_category lc ON (lec.lecture_category_id = lc.category_id)
		WHERE his.member_id = #{member_id}
	</select>
</mapper>