<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StudyBoardMapper">
	<resultMap type="StudyBoard" id="StudyBoardResultMap" autoMapping="true">
		<id property="studyBoard_id" column="STUDYBOARD_ID"/>
		<result property="studyBoard_rowNum" column="r" />
		<result property="studyBoard_title" column="STUDYBOARD_TITLE" />
		<result property="studyBoard_content" column="STUDYBOARD_CONTENT" />
		<result property="studyBoard_fileName" column="STUDYBOARD_FILENAME" />
		<result property="studyBoard_write_dt" column="STUDYBOARD_WRITE_DT" />
		<result property="studyBoard_view_count" column="STUDYBOARD_VIEWCOUNT" />
		<result property="studyBoard_deleteYN" column="STUDYBOARD_DELETEYN" />
		<association property="Study_m" javaType="Member" autoMapping="true">
			<id property="member_id" column="STUDYBOARD_MEMBER_ID"/>
		</association>
	</resultMap>
	<select id="selectAll" parameterType="map" resultMap="StudyBoardResultMap">
		select rownum r, a.*
		from (select*
		      from studyboard
		      ORDER BY STUDYBOARD_ID DESC) a
		WHERE STUDYBOARD_ID BETWEEN 1 AND 10
	</select>
	<select id="selectByTitleAndContent" parameterType="map" resultMap="StudyBoardResultMap">
		select ROWNUM r, a.*
		FROM (select *
		from studyboard
		where STUDYBOARD_TITLE like #{titleOrContent} or STUDYBOARD_CONTENT like #{titleOrContent}
		ORDER BY STUDYBOARD_ID desc) a
		where STUDYBOARD_ID BETWEEN #{startRow} AND #{endRow}
	</select>
	<insert id="insert" parameterType="StudyBoard">
		insert into STUDYBOARD(studyboard_id, studyboard_member_id, studyboard_title, studyboard_content, studyboard_filename, studyboard_viewcount, studyboard_write_dt, studyboard_deleteyn) 
		VALUES(STUDYBOARD_SEQ.NEXTVAL,#{Study_m.member_id} ,#{studyBoard_title} ,#{studyBoard_content}, #{studyBoard_fileName},0, SYSdate,'N')
	</insert>
	<update id="update" parameterType="StudyBoard">
		update STUDYBOARD set studyboard_title= #{studyBoard_title},studyboard_content=#{studyBoard_content}, studyboard_filename=#{studyBoard_fileName}, studyboard_write_dt=sysdate
		where studyboard_id = #{studyBoard_id}
	</update>
	<delete id="delete" parameterType="StudyBoard">
		delete STUDYBOARD where studyboard_id=#{studyBoard_id}
	</delete>
	<select id="selectCount" resultType="int">
		select COUNT(*) FROM STUDYBOARD
	</select>
	<insert id="insertViews" parameterType="StudyBoard">
		update STUDYBOARD set STUDYBOARD_VIEWCOUNT= STUDYBOARD_VIEWCOUNT+1 where STUDYBOARD_ID=#{studyBoard_id}
	</insert>
</mapper>