<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StudyReplyMapper">
	<resultMap type="StudyReply" id="StudyReplyResultMap" autoMapping="true">
		<id property="studyreply_id" column="STUDYREPLY_ID"/>
		<association property="studyreply_b" javaType="StudyBoard" autoMapping="true">
			<id property="studyBoard_id" column="STUDYREPLY_PARENT_BOARD"/>
		</association>	
		<association property="studyreply_m" javaType="Member" autoMapping="true">
			<id property="member_id" column="STUDYREPLY_MEMBER_ID"/>
		</association>	
	</resultMap>
	<select id="selectAll" parameterType="map" resultMap="StudyReplyResultMap">
	select *
	from(select rownum r, a.*
	    from(select *
	        from STUDYREPLY
	        where STUDYREPLY_PARENT_BOARD=#{boardNo}
	        order by studyreply_id desc)a)b
	where r BETWEEN #{startRow} AND #{endRow}
	</select>
	<insert id="insert" parameterType="StudyReply">
	INSERT INTO STUDYREPLY VALUES(STUDYREPLY_SEQ.NEXTVAL, #{studyreply_b.studyBoard_id}, #{studyreply_m.member_id}, #{studyreply_content}, sysdate)
	</insert>
	<update id="update" parameterType="StudyReply">
	update STUDYREPLY set STUDYREPLY_CONTENT=#{studyreply_content},STUDYREPLY_DT=sysdate where STUDYREPLY_ID=#{studyreply_id}
	</update>
	<delete id="delete" parameterType="int">
	delete STUDYREPLY where STUDYREPLY_ID=#{studyreply_id}
	</delete>
</mapper>