<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StudyBoardMapper">
	<select id="selectAll" resultType="StudyBoard">
		select*from studyboard
	</select>
	<select id="selectByTitleAndContent" resultType="StudyBoard">
	select*
	from studyboard
	where STUDYBOARD_TITLE like #{studyBoard_title} and STUDYBOARD_CONTENT like #{studyBoard_content}
	</select>
	<insert id="insert" parameterType="StudyBoard">
	insert into STUDYBOARD(studyboard_id, studyboard_member_id, studyboard_title, studyboard_content, studyboard_filename, studyboard_viewcount, studyboard_write_dt, studyboard_deleteyn) 
VALUES(STUDYBOARD_SEQ.NEXTVAL,#{Study_m.member_id} ,#{studyBoard_title} ,#{studyBoard_content}, #{studyBoard_fileName},0, SYSdate,'N')
	</insert>
	<update id="update">
	update STUDYBOARD set studyboard_title= '제목110',studyboard_content='내용10', studyboard_filename='file10.jpg', studyboard_write_dt=sysdate
where studyboard_id = 7;
	</update>
</mapper>